

.App{
  overflow: hidden;
  position: relative;
}


.main_container{
  width: 100vw;
  height:100vh;
  //background:ivory;
  position: relative;
  z-index: 100;
  background: $main-bg;
  //background: bisque;
  box-sizing: border-box;
  overflow: hidden;
}

