@mixin flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}


.main_container{
  width: 100vw;
  height:100vh;
  //background:ivory;
  position: relative;








  .slider_block{
    width: 100%;
    height: 100%;
    //background: gold;
    border: 1px solid grey;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
  }
}

