.contacts_block_cover{
  background-image: url(../img/1.jpg);
  background-image: url(../img/map.png);
  background-image: url(../img/rally_c3_4.jpg);
  background-image: url(../img/rally_c3_1.jpg);
  background-image: url(../img/rally_c3_2.jpg);
  background-image: url(../img/rally_c3_3.jpg);
  background-image: url(../img/rally_c3.jpg);
  background-image: url(../img/Dakar_kamaz_1.jpg);
  background-image: url(../img/Dakar_kamaz_2.jpg);
  background-image: url(../img/Dakar_kamaz_3.jpg);
  background-image: url(../img/Dakar_kamaz_4.jpg);
  background-image: url(../img/Dakar_kamaz_5.jpg);


  background-image: url(../img/rally_subaru_1.jpg);

}