@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');


.address_block {
  width: 100%;
  height: 45%;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: left;

  @media all and (max-width: 1024px) and (min-height: 1365px) {
    height: 25% !important;
    top: 28% !important;
  }


  @media all and (max-width: 1024px) and (min-height: 768px) {
    height: 30%;
    top: 38%;
  }

  @media all and (max-width: 769px) {
    height: 30%;
    top: 38%;
  }

  @media all and (max-width: 415px) {
    top: 35%;
  }

  @media all and (max-width: 321px){
    top: 40%;
    height: 40%;
  }
}

.map_info {
  width: 40%;
  height: 100%;
  background-image: url(../img/map.png);
  background-size: 100% 100%;

  @media all and (max-width: 1024px) {
    width: 50%;
  }

  @media all and (max-width: 414px){
    display: none;
  }
}

.phone_icon_info_block, .address_icon_info_block {
  width: 45px;
  height: 45px;
  border: 2px solid $color-main-text;
  border-radius: 50px;
  color: $color-main-text;
  font-size: 19px;
  padding: 7px;

  @media all and (max-width: 768px) {
    width: 35px;
    height: 35px;
    font-size: 13px;
  }

}

.info_info, .address_info {
  width: 22%;
  height: 100%;
  background: rgba(0, 0, 0, 0.94);
  padding: 3%;

  @media all and (max-width: 1024px) {
    width: 25%;
  }

  @media all and (max-width: 415px){
    width: 50%;
  }


  h4 {
    margin-top: 100%;
    width: 150px !important;
    text-align: left;
    font-size: 25px;

    @media all and (max-width: 768px) {
      font-size: 17px;
    }
  }
}

.address_info {
  background: rgba(0, 0, 0, 0.8);

  @media all and (max-width: 1024px) {
    border-radius: 0;
  }
}

.first_text_info_block {
  font-size: 18px;

  @media all and (max-width: 768px) {
    font-size: 13px;
  }
}

.second_text_info_block {
  width: 200px;
  font-size: 19px;
  text-align: left;
  font-family: 'Dosis', sans-serif;
  color: rgba(255, 255, 255, .3);
  margin-top: 01rem;
  margin-bottom: 0;

  @media all and (max-width: 1024px) {
    font-size: 13px;
    width: 150px;
  }
  @media all and (max-width: 768px) {
    font-size: 12px;
  }
}

.assistance_text {
  font-size: 21px;
  width: 300px;
  text-align: left;
  font-family: 'Lato', sans-serif;

  @media all and (max-width: 1024px) {
    font-size: 15px;
    width: 150px;
  }
  @media all and (max-width: 768px) {
    font-size: 12px;
  }
}





