@import "headerInfo";
@import "bodyinfo";


.contacts_block_cover{
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: auto ;
}

.contacts_block{
  width: 100%;
  height: 2000px;
}

