.contacts_block_cover{
  background-image: url(../img/map.png);
  background-image: url(../img/rally_c3_4.jpg);
  background-image: url(../img/rally_c3_1.jpg);
  background-image: url(../img/rally_c3_2.jpg);
  background-image: url(../img/rally_c3_3.jpg);
  background-image: url(../img/rally_c3.jpg);
  background-image: url(../img/Dakar_rally_toyo.jpg);
  background-image: url(../img/Bamaco.jpg);
  background-image: url(../img/f1_maclaren_1.jpg);
  background-image: url(../img/f1_maclaren_2.jpg);
  background-image: url(../img/Dakar_kamaz_5.jpg);
  background-image: url(../img/rally_subaru_1.jpg);
  background-image: url(../img/rally_ford_3.jpg);
  background-image: url(../img/pilot_1.png);
  background-image: url(../img/pilot_2.png);
  background-image: url(../img/rally_subaru_1.jpg);
  background-image: url(../img/Bamaco_2.jpg);
  background-image: url(../img/f1.jpg);
}