.all_tickets_block{
  right: 5%;

}

.all_tickets_block{
  position: absolute;
  //border: 1px solid red;
  width: 35%;
  height: 80%;
  //right: 45%;
  right: 5%;
  top: 10%;
  color: white;
  font-size: 50px;
}